.stars-field{
  width: 100%;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 90px;
}

.star__img{
  height: 100%;
  margin-right: 5px;
}
